doctype
html
  head
    meta(charset='utf-8')
    title='Login Page'
    meta(name='viewport' content='initial-scale=1, width=device-width')
    link(rel='stylesheet' href='css/login-style.css')
  body
    form(method='post' action='/login-page')
      .id
        label(for='id') ID 
        input(type='text' id='id' name='id' placeholder='ID')
      .pwd
        label(for='pwd') Password
        input(type='password' id='pwd' name='pwd' placeholder='Password')
      input(type='submit' value='Login')
